:root {
  font-family: "Open Sans", sans-serif;
  line-height: 1.4;
  font-weight: 400;
}

body {
  display: flex;
  color: #fff;
  max-width: 1200px;
  background-color: #000000;
  place-content: center;
  margin: 0 auto;
  padding-inline: 1rem;
}

.header {
  display: flex;
  align-items: center;
  height: 8rem;
}

#Logo {
  fill: rgb(255, 232, 31);

}

#Loader {
  fill: rgb(255, 232, 31);
}

@keyframes loader-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.loader {
  animation: loader-spin infinite 2.5s linear;
  display: grid;
  margin: 0 auto;
  place-items: center;
  min-height: 70vh;
}

.movie-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  grid-gap: 30px;
  margin: 10px auto;

}
.message {
  color: #555;
  font-size: 18px;
}

.error {
  color: red;
  font-size: 18px;
  margin-top: 20px;
}
.movie-card:nth-child(1) {
  background: url(./assets/bg-img-1.png);
}

.movie-card:nth-child(2) {
  background: url(./assets/bg-img-2.png);
}

.movie-card:nth-child(3) {
  background: url(./assets/bg-img-3.png);
}

.movie-card:nth-child(4) {
  background: url(./assets/bg-img-4.png);
}

.movie-card:nth-child(5) {
  background: url(./assets/bg-img-5.png);
}

.movie-card:nth-child(6) {
  background: url(./assets/bg-img-6.png);
}

.movie-card:nth-child(7) {
  background: url(./assets/bg-img-7.png);
}



@media (min-width: 576em) {
  .movie-grid {
    max-width: 400px;

  }

}
@media (min-width: 768em) {
  .movie-grid {
    max-width: 700px;
  }

  .movie-card {
    max-width: 330px;
  }
}

@media (min-width: 992em) {
  .movie-grid {
    max-width: 96rem;
  }

  .movie-card {
    max-width: 320px;
  }
}

@media (min-width: 1200em) {
  .movie-grid {
    max-width: 960px;
  }

  .movie-card {
    max-width: 350px;
  }
}

.movie-card {
  border-radius: 5px;
  padding: 25px;
  background-color: rgb(63, 65, 67);
  transform: perspective(1px) translateZ(0px);
  box-shadow: transparent 0px 0px 10px 3px, rgb(0, 0, 0) 0px 0px 10px;
  transition: all 0.3s ease 0s;
  overflow: hidden;
  border-radius: 0.5rem;
}

.movie-card:hover {
  box-shadow: rgb(32, 152, 209) 0px 0px 10px 3px, rgb(0, 0, 0) 0px 0px 10px;
}

.opening-crawl {
  border-bottom: 2px solid rgb(142, 46, 46);
  padding-bottom: 1.2rem;
  overflow-wrap: break-word;
  white-space: normal;
  font-size: 1em;
  color: rgb(255, 255, 255);
}

.more-info {
  text-transform: capitalize;
  color: rgb(255, 232, 31);
  text-decoration: none;

}

.movie-card h3 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
  font-family: "Star Jedi", "Open Sans", sans-serif;
  font-size: 1.4rem;
  letter-spacing: 2px;

}

.date {
  color: rgb(157, 157, 157);

}

.details {
  display: flex;
  flex-direction: column;
  background-color: #232323;
  padding: 30px;
  margin-inline: 40px;
  border-radius: 5px;

}


.details header {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
   
}

.details h2 {
  font-family: 'Star Jedi', 'Open Sans', sans-serif;
  font-size: 2.4rem;
  margin-bottom: 0.5rem;
  font-weight: 400;
  letter-spacing: 2px;
}

.details .back {
  align-self: flex-start;

}

.details button {
  background-color: transparent;
  border: none;
  background-color: #232323;
  color: #9D9D9D;
  font-size: 1rem;
}
.details p {
  margin: 0.2rem 0;
  font-size:16px;
  font-size: 200;


}
.gray {
  color: #9D9D9D;
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 0.5px;
}

.section {
  border-top: 2px solid #3C3C3C;
    margin-bottom: 1rem;
}

.details ul {
  display: flex;
  flex-wrap: wrap;
  padding-left: 1.1rem;
   

}

.details li {
  width: 100%;
  flex: 0 0 100%;
  max-width: 100%;

}

@media screen and (min-width: 768px) {
  .details li {
    flex: 0 0 calc(50% - 1rem);
    max-width: calc(50% - 1rem);
  }
}

@media screen and (min-width: 1200px) {
  .details li {
    flex: 0 0 calc(33.33% - 1.1rem);
    max-width: calc(33.33% - 1.1rem);
  }
}
@media (max-width: 576px) {
  .details {
    max-width: 90%;
 
  }
}

@media (min-width: 768px) {
  .details {
    max-width: 70%;
    margin: 0 auto;
  }
}


@media (min-width:992px) {
  .details {
  max-width: 85%;
    margin: 0 auto;
  }
}


